@import '../Generic/Fonts.scss';

.card {
    background: #F0F2F5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 24px;
    font-family: $OpenSans;
}


@media (max-width: 500px) {

    .card {
        display: flex;
        flex-direction: column;

        &__data {
            display: flex;
            justify-content: space-between;
        }
    }

    .card__invoiceAnddate {
        display: flex;
        row-gap: 1rem;
        flex-direction: column;

        .invoice-number {
            font-weight: 600;
            line-height: 24px;
        }

        p {
            margin: 0;
        }
    }

    .card__userInfo {
        .hide {
            display: none;
        }

        p {
            margin: 0
        }
    }
    
    

    .payment-status {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .payment-status__price {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .price {
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                margin: 8px 0;
            }

        }

        p {
            margin: 0 0 22px 0;
        }
    }
    
    

}

@media (min-width: 501px) {
    .card {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__data {
            display: flex;
            flex: 4;
        }

    }

    .card__data__invoiceAnddate {
        flex: 1;
    }

    .card__data__userInfo {
        flex: 1;

        .hide {
            display: block;
        }

    }

    .payment-status {
        display: flex;
        flex: 2;
        
        &__price {
            flex: 1;
        }

        &__status {
            flex: 1;
        }
    }

}