@import '../Generic/Fonts.scss';
@import '../settings/breakpoints.scss';
@import '../tools/mixins.scss';

.card {
    background: #F0F2F5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    font-family: $OpenSans;
}


@media (max-width: $breakpoint-mobile) {

    .card {
        display: flex;
        flex-direction: column;

        &__data {
            display: flex;
            justify-content: space-between;

            &__invoice-date {
                display: flex;
                row-gap: 1rem;
                flex-direction: column;

                .invoice-number {
                    font-weight: 600;
                    line-height: 1.5rem;
                }
            
                p {
                    margin: 0;
                }
            }

            &__userinfo {
                p {
                    margin: 0
                }
            
                .hide {
                    @include hide
                }
            }
        }


        &__payment-status {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__price {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
        
                p {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 28px;
                    margin: 8px 0;
                }
        
            }
        
            &__status {
                p {
                    margin: 0 0 22px 0;
                }
            }

        }
    }
    
    

}

@media (min-width: $breakpoint-desktop) {
    .card {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__data {
            display: flex;
            flex: 4;

            &__invoice-date {
                flex: 1;

                .invoice-number {
                    font-weight: 700;
                    letter-spacing: 1px;
                }

                .date {
                    font-weight: 300;
                    letter-spacing: 1px;
                }
            }

            &__userinfo {
                flex: 1;
            
                .hide {
                    @include display;
                    font-weight: 300;
                    letter-spacing: 1px;
                }
            }
        }

        &__payment-status {
            display: flex;
            flex: 2;

            &__price {
                flex: 1;

                p{
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 1px;
                    font-size: 24px;
                }
                
            }

            &__status {
                flex: 1;

                p {
                    margin-top: 27px;
                }
            }
        }
        

    }

    

}