@media (max-width: 500px) {
    .hamburguer {
        background: none;
        border: 0;
        width: 24px;
        display: flex;
        flex-flow: column wrap;
        margin: 20px;
        padding: 0;

        hr {
            height: 3px;
            background: #323338;
            width: 100%;
            border: none;
            margin: 0;
        }

        .hamburguer__half-line {
            width: 12px;
            margin: 7px 10px 7px 0;
        }
    }
}


@media (min-width: 501px) {
    .hide {
        display: none;
    }
}