@import '../Generic/Fonts.scss';

.newInvoice {
    /*Alignment*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: white;
    background: #6DC7C7;
    border-radius: 31px;
    border: none;
    font-family: $OpenSans;
    cursor: pointer;

    p {
        padding-left: 8px;
        font-weight: 600;
        line-height: 24px;
        font-family: $OpenSans;
        letter-spacing: 1px;
        font-size: 16px;
        margin: 7px 0;
    }
}