@import "../../styles/settings/index.scss";
@import "../../styles/generic/fonts.scss";

label {
  margin-bottom: 0.75rem;
}

input {
  padding: 1rem;
  font-family: $OpenSans;
  font-weight: 300;
  border: 2px solid $primary-light;
  border-radius: 10px;

  &:focus {
    border: 2px solid $primary-light;
    border-radius: 10px;
  }
}
