@import "../../styles/settings/index.scss";
@import "../../styles/generic/fonts.scss";

label {
  margin-bottom: 0.75rem;
}

.borderColor {
  &--primary-light {
    border: 2px solid $primary-light;
    border-radius: 10px;
  }
}

input {
  padding: 1rem;
  font-family: $OpenSans;
  font-weight: 300;
  letter-spacing: 1px;
}
