@import "./base/index.scss";
@import "./components/index.scss";
@import "./generic/fonts.scss";
@import "./settings/index.scss";
@import "./tools/mixins.scss";
@import "./trumps/index.scss";

.nav-header {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 26px;
  font-size: 1.5rem;
  line-height: 2rem;
}

.filter__button--wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 26px;
}

.link {
  font-weight: 700;
}

@media (min-width: $breakpoint-tablet) {
  .filter__header {
    display: flex;
    justify-content: space-between;
    margin: 26px 0;
  }

  .filter-button {
    margin-right: 2.5rem;
  }

  h1 {
    margin: 0 26px;
    font-size: 2rem;
  }
}

@media (min-width: $breakpoint-desktop) {
  .nav-header {
    justify-content: flex-end;
  }

  .filter__header {
    justify-content: space-between;
    align-items: center;
    margin: 26px 0;
  }

  .filter__button--wrapper {
    margin: 0 26px;
  }

  h1 {
    margin: 0 26px;
    font-size: 2rem;
  }
}
