@import './base/reset.scss';
@import './components/index.scss';
@import './generic/Fonts.scss';
@import './settings/index.scss';
@import './tools/mixins.scss';


@media (max-width: $breakpoint-mobile) {
    .nav-header {
        display: flex;
        justify-content: space-between;
    }

    main {
        h2 {
            margin: 26px;
            font-size: 1.5rem;
            line-height: 2rem;
        }

        .title-buttons__buttons {
            display: flex;
            justify-content: space-between;
            margin: 0 26px;
        }   
    }
}

@media (min-width: $breakpoint-tablet) {
    .nav-header {
        display: flex;
        justify-content: space-between;
    }

    main {
        margin: 50px 150px;

        .title-buttons {
            display: flex;
            justify-content: space-between;
            margin: 26px 0;
        }
        
        .title-buttons__buttons {
            display: flex;
            margin: 0 26px;

            .filter-button {
                margin-right: 2.5rem;
            }
        }

        h2 {
            margin: 0 26px;
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .nav-header {
        display: flex;
        justify-content: flex-end;
    }

    main {
        margin: 50px 150px;

        .title-buttons {
            display: flex;
            justify-content: space-between;
            margin: 26px 0;
        }

        .title-buttons__buttons {
            display: flex;
            margin: 0 26px;

            .filter-button {
                margin-right: 2.5rem;
            }
        }

        h2 {
            margin: 0 26px;
        }
    }
}

.mg-26 {
    @include mg-26;
}

.mg-lr-26 {
    @include mg-lr-26;
}

.mg-tb-1rem {
    @include mg-tb-1rem;
}

.mg-tb-05rem {
    @include mg-tb-05rem;
}

ul {
    list-style: none;
    padding: 0;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;

    p {
        margin-right: 15px;
        color: $primary;
        font-weight: 700;
    }

    &__arrow-button {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
    }
  

}
