@import './Components/listingButton.scss';
@import './Components/filterButton.scss';
@import './Components/newInvoiceButton.scss';
@import './Components/invoiceCard.scss';
@import './Generic/Fonts.scss';
@import './base/reset.scss';


.nav-header {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 500px) {
    main {
        h2 {
            margin: 26px;
            font-family: $OpenSans;
            font-size: 24px;
            line-height: 32px;
        }

        nav {
            display: flex;
            justify-content: space-between;
            margin: 0 26px;
        }   
    }
}

@media (min-width: 501px) {
    .title-buttons{
        display: flex;
        justify-content: space-between;
        margin: 26px 0;
    }

    main {
        nav {
            display: flex;
            margin: 0 26px;

            .filter-button {
                margin-right: 40px;
            }
        }

        h2 {
            margin: 0 26px;
        }
    }
}

.mg-26 {
    margin: 26px;
}

.mg-lr-26 {
    margin-left: 26px;
    margin-right: 26px;
}

.mg-tb-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mg-tb-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 200px;

    span {
        font-family: $OpenSans;
        margin-right: 15px;
        color: #6DC7C7;
        font-weight: 700;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;

        .arrow-button {
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 8px;
        }
    }

    
}
