@import "../../styles/settings/colors";

.breadcrumb {
  display: flex;

  a {
    margin-top: 1px;
    margin-right: 1rem;
    font-weight: 400;
    font-size: 0.875rem;
  }

  svg {
    transform: rotate(-90deg);
  }

  :nth-child(3) {
    margin-left: 1rem;
    color: $primary;
  }
}
