.downArrowSVG {
  margin-right: 1rem;
}

#filterSVG {
  margin-left: 5px;
}

.plusSVG {
  margin-right: 0.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #fff;
  border-radius: 9999px;
}
