.downArrowSVG {
  margin-right: 15px;
}

#filterSVG {
  margin-left: 5px;
}

.plusSVG {
  margin-right: 8px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #fff;
  border-radius: 9999px;
}
