.align {
  &--center-horizontally {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--vertically {
    display: flex;
    flex-direction: column;
  }

  &--between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
