@import "../settings/breakpoints.scss";
.animation {
  &__with-moveIn-left {
    animation: moveInLeft 300ms ease-in-out 10ms forwards;
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0px);
  }
}

@media (min-width: $breakpoint-tablet) and (min-width: $breakpoint-desktop) {
  @keyframes moveInLeft {
    0% {
      transform: translateX(5000px);
    }
    100% {
      transform: translateX(207%);
    }
  }
}
