@import "../generic/fonts";
@import "../settings/index";

.button {
  &--primary {
    height: max-content;
    background: $secondary;
    color: $white;
    border: 0.125rem solid $secondary;
    border-radius: 16px;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
  }

  &--pill {
    height: max-content;
    color: $white;
    background: $primary;
    border-radius: 1.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0.0625rem;
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;

    &:active {
      background: $secondary;
      border: 0.125rem solid $secondary;
    }

    &-inactive {
      background: $white;
      border: 0.125rem solid $primary-light;
      border-radius: 1.875rem;
      height: max-content;
      padding: 0.75rem 1.25rem;

      &:focus {
        background: $secondary;
        border: 0.125rem solid $secondary;
      }
    }

    &-bgnone {
      background: none;
    }
  }

  &--link {
    font-weight: 600;
  }
}
