@import "../generic/fonts";
@import "../settings/index";

.button {
  &--primary {
    height: max-content;
    padding: 4px 8px 4px 4px;
    color: #ffffff;
    background: $primary;
    border-radius: 31px;
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 0;

    &-bgnone {
      background: none;
    }
  }

  &--pill {
    background: #ffffff;
    border: 2px solid $primary-light;
    border-radius: 30px;
    height: max-content;
    padding: 12px 20px;

    &:active {
      background: $secondary;
      border: 2px solid $secondary;
    }
  }

  &--add {
  }

  &--link {
  }
}
