@import "../generic/fonts";
@import "../settings/index";

.button {
  &--primary {
    height: max-content;
    background: $secondary;
    color: #ffffff;
    border: 2px solid $secondary;
    border-radius: 16px;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 1px;
  }

  &--pill {
    height: max-content;
    color: #ffffff !important;
    background: $primary;
    border-radius: 31px;
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 4px 8px 4px 4px;

    &:active {
      background: $secondary;
      border: 2px solid $secondary;
    }

    &-inactive {
      background: #ffffff;
      border: 2px solid $primary-light;
      border-radius: 30px;
      height: max-content;
      padding: 12px 20px;

      &:focus {
        background: $secondary;
        border: 2px solid $secondary;
      }
    }

    &-bgnone {
      background: none;
    }
  }

  &--add {
  }

  &--link {
    font-weight: 600;
  }
}
