@import "../settings/colors";

.color {
  &--primary {
    color: $primary;
  }

  &--secondary {
    color: $secondary;
  }

  &--black {
    color: $menu-color;
  }

  &--success {
    color: $success;
  }

  &--warning {
    color: $warning;
  }

  &--danger {
    color: $danger;
  }
}
