@import "../settings/colors";

.color {
  &--primary {
    color: $primary;
  }

  &--primary-light {
    color: $primary-light;
  }

  &--black {
    color: $dark-grey;
  }

  &--success {
    color: $success;
  }

  &--warning {
    color: $warning;
  }

  &--danger {
    color: $danger;
  }
}
