.flex {
  display: flex;
  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--column {
    display: flex;
    flex-direction: column;
  }

  &--between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
