.mg {
  &--26 {
    margin: 26px;
  }

  &--l-05rem {
    margin-left: 0.5rem;
  }

  &--r-05rem {
    margin-right: 0.5rem;
  }

  &--r-1rem {
    margin-right: 1rem;
  }

  &--lr-26 {
    margin-left: 26px;
    margin-right: 26px;
  }

  &--lr-2rem {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &--tb-1rem {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &--tb-2rem {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
