.mg {
  &--b-2px {
    margin-bottom: 2px;
  }

  &--26 {
    margin: 26px;
  }

  &--2rem {
    margin: 2rem;
  }

  &--l-05rem {
    margin-left: 0.5rem;
  }

  &--r-05rem {
    margin-right: 0.5rem;
  }

  &--r-1rem {
    margin-right: 1rem;
  }

  &--l-1rem {
    margin-left: 1rem;
  }

  &--lr-26 {
    margin-left: 26px;
    margin-right: 26px;
  }

  &--lr-1rem {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &--lr-2rem {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &--t-075rem {
    margin-top: 0.75rem;
  }

  &--b-075rem {
    margin-bottom: 0.75rem;
  }

  &--t-15rem {
    margin-top: 1.5rem;
  }

  &--t-2rem {
    margin-top: 2rem;
  }

  &--b-15rem {
    margin-bottom: 1.5rem;
  }

  &--tb-1rem {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &--tb-15rem {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &--tb-2rem {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
