.pd {
  &--05rem {
    padding: 0.5rem;
  }

  &--tb-075rem {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  &--lr-125rem {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  &--tp-15rem {
    padding-top: 1.5rem;
  }

  &--bt-2rem {
    padding-bottom: 2rem;
  }
}
