@import "../../styles/settings/index";

/* animation: name | duration | easing-function | delay | forwards*/

aside > button {
  font-size: 24px;
}

.search button {
  padding: 0.75rem 6rem;
}

.filter-page {
  position: fixed;
  height: 100%;
  top: 0.5rem;
  z-index: 2;
  background: $body-background;
  transform: translateX(5000px);
  overflow: overlay;

  svg {
    transform: rotate(90deg);
    width: 16.76px;
    height: 9.88px;
  }

  .invoice-date {
    display: flex;
    flex-direction: column;
  }
}

.transitionMoveInLeft {
  animation: moveInLeft 600ms ease-in-out 10ms forwards;
}

@keyframes moveInLeft {
  0% {
    transform: translateX(5000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media (min-width: $breakpoint-tablet) and (min-width: $breakpoint-desktop) {
  .filter-page {
    width: 500px;

    svg {
      display: none;
    }

    span {
      margin: 0;
    }
  }

  @keyframes moveInLeft {
    0% {
      transform: translateX(5000px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
