$primary: #62d5d5;
$primary-light: #9ed8d8;
$secondary: #6dc7c7;
$dark-grey: #323338;
$light-grey: #dddddd;
$white: #fff;
$white2: #f0f2f5;
$body-background: linear-gradient(
  177.16deg,
  #ffffff -5.63%,
  #e2e4e9 118.8%,
  #f0f2f5 118.8%
);

$success: #2cc87f;
$success-light: #2ee08d;
$warning: #eac60a;
$warning-light: #ebd047;
$danger: #f56855;
$danger-light: #ff4b33;
