$primary: #62d5d5;
$primary-hover: #6dc7c7;
$card-background: #f0f2f5;
$menu-color: #323338;
$body-background: linear-gradient(
  177.16deg,
  #ffffff -5.63%,
  #e2e4e9 118.8%,
  #f0f2f5 118.8%
);
$color-paid: #2cc87f;
$color-pending: #eac60a;
$color-canceled: #f56855;
