$primary: #62d5d5;
$secondary: #6dc7c7;
$card-background: #f0f2f5;
$menu-color: #323338;
$body-background: linear-gradient(
  177.16deg,
  #ffffff -5.63%,
  #e2e4e9 118.8%,
  #f0f2f5 118.8%
);

$color-success: #2cc87f;
$color-success-light: #2ee08d;
$color-warning: #eac60a;
$color-warning-light: #ebd047;
$color-danger: #f56855;
$color-danger-light: #ff4b33;
