@import "../../styles/settings/_colors.scss";
@import "../../styles/trumps/_hide.scss";
@import "../../styles/trumps/_flex.scss";
@import "../../styles/trumps/_margins.scss";
@import "../../styles/trumps/_padding.scss";
@import "../../styles/trumps/_animation.scss";

/* animation: name | duration | easing-function | delay */

.new-invoice {
  background: $body-background;
  animation: fadeIn 300ms ease-out 10ms;
  position: absolute;
  z-index: 2;
  /* transform: translateX(5000px); */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.return-homepage {
  animation: fadeOut 300ms ease-out 10ms;
  position: absolute;
  z-index: 2;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.breadcrumb {
  button {
    margin-right: 1rem;
  }

  svg {
    transform: rotate(-90deg);
    width: 11.17px;
    height: 6.59px;
  }

  :nth-child(3) {
    margin-left: 1rem;
  }

  button {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
  }
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.steps {
  font-size: 14px;
  margin-left: 0;

  button {
    color: $light-grey;

    &:focus {
      color: $secondary;
    }
  }

  .underline {
    border: 0;
    height: 1px;
    background: rgba(128, 128, 128, 0.1);
  }
}

label {
  margin-bottom: 0.75rem;
  font-weight: 400;
}

form {
  background: #fff;
  padding: 2rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);

  margin-top: 2rem;

  .genericInfo {
    ::-webkit-calendar-picker-indicator {
      color-scheme: orange;
    }
  }

  .genericInfo > p {
    margin-top: 0;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .billAddressInfo > p {
    margin-top: 2.5rem;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .horizontal-line {
    height: 1px;
    background: $light-grey;
    border-radius: 1px;
  }

  .cityZipCode {
    :nth-child(1) {
      margin-right: 1rem;
    }

    input {
      width: 100%;
    }
  }
}

.continue button {
  padding: 0.75rem 6rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color-scheme: $secondary;
}
